<form action="/members/create" method="POST" role="form" class="new">
	<div class="form-group">
	<h2>Create a members</h2>

<% if(flash && flash.err) { %>
<ul class="alert alert-success">
<% Object.keys(flash.err).forEach(function(error) { %>
<li><%- JSON.stringify(flash.err[error]) %></li>
<% }) %>
</ul>
<% } %>
	
	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" placeholder="firstname" name="firstname">
	</div>

	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" placeholder="lastname" name="lastname">
	</div>

	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" placeholder="slug" name="slug">
	</div>

	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" placeholder="publish" name="publish">
	</div>

	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" placeholder="biography" name="biography">
	</div>

	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" placeholder="quote" name="quote">
	</div>

	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" placeholder="picture" name="picture">
	</div>

	</div>
	<input type="submit" value="Submit" class="btn btn-default"/> | 
	<a href="/members">Back to list</a>
</form>