    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text wow fadeInDown animated">
                <div class="intro-lead-in">Hi, We’re Chicory!</div>
                <div class="intro-heading">Shared Entrepreneur Developers</div>
                <a href="#about" class="page-scroll btn btn-x2">Let's Go</a>
            </div>
        </div>
    </header>
    <!-- Header End -->