    <!-- Status Section -->
    <section id="status" class="counter">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-3 col-xs-6 wow flipInY animated">
                    <i class="icon-alarmclock fa-3x"></i>
                    <h3 class="total-number-1">0</h3>
                    <p>Hours of Works</p>
                </div>
                <div class="col-sm-3 col-xs-6 wow flipInY animated">
                    <i class="icon-puzzle fa-3x"></i>
                    <h3 class="total-number-2">0</h3>
                    <p>Projects Finished</p>
                </div>
                <div class="col-sm-3 col-xs-6 wow flipInY animated">
                    <i class="icon-happy fa-3x"></i>
                    <h3 class="total-number-3">0</h3>
                    <p>Happy Clients</p>
                </div>
                <div class="col-sm-3 col-xs-6 wow flipInY animated">
                    <i class="icon-bike fa-3x"></i>
                    <h3 class="total-number-4">3</h3>
                    <p>Happy Employees</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Status Section End -->