<!-- Contact section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center wow fadeInDown">
                    <h2 class="section-heading">Reach Out To Us</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-7 wow fadeInUp animated">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div id="success"></div>
                                <button type="submit" class="btn btn-x3 wow bounceIn animated">Send Message</button>
                            </div>
                            <!-- Contact details -->
                            <div class="col-md-5">
                                <div class="text-white wow fadeIn animated">
                                    <h4>Contact details</h4>
                                    <p>CHICORY DEVELOPMENT</p>
                                    <p class="wow fadeInUp animated"> <i class="fa fa-map-marker fa-lg"></i> 
                                        643 Magazine St #102 New Orleans, LA 70130
                                    </p>
                                    <p class="wow fadeInUp animated"> <i class="fa fa-mobile fa-lg"></i>
                                        (555) 555-5555
                                    </p>
                                    <p class="wow fadeInUp animated"> <i class="fa fa-envelope-o"></i> 
                                         contact@chicory.io
                                    </p>
                                    <p class="wow fadeInUp animated"> <i class="fa fa-link"></i>
                                        www.chicory.io
                                    </p>
                                    
                                    <ul class="list-inline">
                                        <li>
                                            <a href="#"><i class="fa fa-facebook fa-fw fa-2x"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-google fa-fw fa-2x"></i></a>
                                        </li>
                                    </ul>
                                    
                                </div>
                            </div>

                            <!-- Contact details End -->
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact section End -->