	<!-- Preloader -->
	<div id="loader">
	  <div id="loaderInner">	  	
			<div class="loaderBars">
				<span class="bar1 bar"></span>
				<span class="bar2 bar"></span>
				<span class="bar3 bar"></span>
			</div>	
	  </div>
	</div>
	<!-- Preloader End -->
