    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
				<div class="col-lg-12 text-center wow fadeInDown animated">
                    <h2 class="section-heading">About Us</h2>
                </div>
                <div class="col-lg-4 text-center col-md-4 col-sm-4 col-xs-12 pull-right media wow zoomIn animated">
                    <img alt="" class="img-me" src="/img/louisiana.png">
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left media">
                    <h3>It started with a...</h3>
                    <h4>Lorem ipsum dolor sit amet consectetur.</h4>
                    <p class="text-muted">Cras dictum tellus dui, vitae sollicitudin ipsum tincidunt adipiscing atgfnte varius at. Sed mollis vestibulum sapien sed mattis.Cras dictum tellus duvi, vitae sollicitudin ipsum tincidunt adipiscing ante varius at. Sed mollis ves
                    tibulum sapien sed mattis.</p>
                    <p class="text-muted">Cras dictum tellus dui, vitae sollicitudin ipsum tincidunt adipiscing atgfnte 
                    tibulum sapien sed mattis.Cras dictum tellus dui. Sed mollis vestibulum sapien rthsed mattis.Cras dictum tellus duvi, vitae sollicitudin ipsum tincidunt adipiscing tibulum sapien sed mattis.</p>
                </div>
			</div>

        </div>
    </section>
    <!-- About Section End -->